option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckInterval: 10
    HealthCheckTimeout: 5
    Port: 80
    HealthyThresholdCount: 2
    UnhealthyThresholdCount: 2
    HealthCheckPath: /health

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    Cooldown: 180

  aws:autoscaling:trigger:
    BreachDuration: 3
    LowerBreachScaleIncrement: -1
    LowerThreshold: 30
    MeasureName: CPUUtilization
    Period: 60
    Statistic: Average
    Unit: Percent
    UpperBreachScaleIncrement: 1
    UpperThreshold: 70

