option_settings:
  # Autoscaling settings
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 5
  aws:autoscaling:trigger:
    BreachDuration: 300
    LowerBreachScaleIncrement: -1
    LowerThreshold: 20
    MeasureName: CPUUtilization
    Period: 300
    Statistic: Average
    Unit: Percent
    UpperBreachScaleIncrement: 1
    UpperThreshold: 75

  # Load Balancer settings
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default

  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    DefaultProcess: default
    SSLCertificateArns: arn:aws:acm:us-east-1:864981729548:certificate/525b929e-8d3c-4dfb-9301-fc1479cb18a3