option_settings:
  # Instance Configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: c5.xlarge
    # InstanceType: vt1.3xlarge

  # Load Balancer Type
  aws:elasticbeanstalk:environment:
    LoadBalancerType: network

  # RTMP Listener Configuration
  aws:elbv2:listener:1935:
    ListenerEnabled: true
    Protocol: TCP
    DefaultProcess: default

  # HTTP Listener Configuration
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: TCP
    DefaultProcess: default
    
  # HTTPS Listener Configuration
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: TCP
    DefaultProcess: default
 