container_commands:
  01_stop_container:
    command: |
      #!/bin/bash
      docker update --restart=no $(docker ps -a -q)
      docker ps -q | xargs -r docker stop
      docker ps -aq | xargs -r docker rm -f
    ignoreErrors: true
    
  02_ecr_login:
    command: |
      #!/bin/bash
      aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 864981729548.dkr.ecr.us-east-2.amazonaws.com
    ignoreErrors: true
    
  03_run_container:
    command: |
      #!/bin/bash
      docker run -d -p 443:443 -p 1935:1935 864981729548.dkr.ecr.us-east-2.amazonaws.com/povstreaming:latest
    leader_only: true